* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

/* header related styles */
header {
    background-color: bisque;
    padding: 30px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g3-architect {
    font-size: 30px;
    font-style: bold;
}

ul>li {
    list-style: none;
    font-size: 13px;
    color: gray;
}

li a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* banner title */
.banner {
    font-weight: 900;
    font-size: 40px;
}

.banner-para {
    font-size: 10px;
    color: gray;
}

.primary-btn {
    font-weight: 800;
    padding: 13px 17px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 119, 0);
    color: wheat;
    cursor: pointer;
    margin: 20px auto;
}

.banner-title {
    text-align: center;
}

.banner-desctioption img {
    width: 100%;
}

/* main section related styles */
main {
    /* max-width: 1140px; */
    /* margin: 20px auto; */
    /* padding: 0px 20px; */

}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* width: 450px;
    height: 450px; */
    border-radius: 5px;
    gap: 20px;
    padding: 20px;
    text-align: center;
}
.team-decoration{
    padding: 30px;
    /* text-align: center; */
}
.team-decoration p{
    color: rgb(138, 137, 137);
}

main img {
    width: 100%;
    height: 100%;
}

.first-header {
    font-size: 40px;
    font-weight: 900;
}

.quick-list {
    font-size: 40px;
    font-weight: 400;
    color: gray;
}

.features {
    color: rgb(255, 94, 0);
    font-weight: 900;
}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
}




/* media query styles */
/* small device */
@media screen and (max-width:576px) {
    .g3-architect {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    header {
        background-color: bisque;
        padding: 20px;
    }

    .first-div {
        flex-direction: column-reverse;
    }

    .team-images {
        grid-template-columns: 1fr;
    }

}

/* medium device related styles */
@media screen and (min-width:576px) and (max-width:990px) {
    

}